<div class="card card-body p-4 rounded-0 bg-dark text-white">

  <h3>Add a Task</h3>

  <form action="/task/add" method="POST">

    <div>
      <label for="title">Escribe un titulo:</label>
      <input
        type="text"
        name="title"
        placeholder="Tiltle"
        id="title"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="description">Agrega una descripcion:</label>
      <textarea
        name="description"
        placeholder="Description"
        id="description"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea>
    </div>

    <button class="btn btn-success">GUARDAR</button>

  </form>
</div>